@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242933;
    font-family: 'Source Code Pro', sans-serif;
}

.calculator__container {
    width: 326px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 5px solid #596172;
    border-radius: 12px;
    padding: 1rem;
    background-color: #242933;
    gap: 1px;
}

.title__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.calculator__title {
    height: 40px;
    font-size: 1rem;
    color: #f6f0e9;
    background-color: #000;
    border: 3px solid #596172;
    border-radius: 12px;
    padding: 0.4rem;
}

.calculator__object-round {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator__object-round .white {
    width: 25px;
    height: 25px;
    background-color: #fff;
}

.calculator__object-round .red {
    width: 10px;
    height: 10px;
    background-color: #d3444d;
}


.output__container {
    width: 100%;
    height: 80px;
    background-color: #606674;
    border-radius: 6px 6px 0 0;
    font-size: 3rem;
    padding-right: 0.4rem;
    color: #f6f0e9;
    font-style: italic;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: left;
}

.clear__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1px;
}

.clear__container>.clear__btn:nth-child(1) {
    flex: 1;
}

.numbers__container {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: space-between;
    gap: 1px;
}

.numbers__container>.number__btn:last-child {
    flex: 1;
}

.operations__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
}

.clear__btn,
.number__btn,
.operation__btn {
    font-size: 1.2rem;
    border-radius: 0px;
    height: 70px;
    width: 70px;
    background-color: #424b5e;
    color: #f6f0e9;
    border-style: none;
    cursor: pointer;
}

.number__btn {
    flex: auto;
    transition: background-color 400ms linear;
}

.clear__btn,
.operation__btn {
    background-color: #d3444d;
    transition: background-color 400ms linear;
}

.number__btn:hover {
    background-color: #606674;
}

.clear__btn:hover,
.operation__btn:hover {
    background-color: #d3686f;
}