* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242933;
}

.calculator__container {
    width: 326px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 5px solid #596172;
    border-radius: 12px;
    padding: 1rem;
    background-color: #242933;
    gap: 1px;
}
